<h1> Smart DayCare Management System </h1>
	<div>
		{{#each items }}
			<article class="item">
				<div> Name : {{name}}</div>
				<div> Email : {{email}}</div>
				<div> Password : {{password}}</div>
				<div> ID: {{_id}}</div>
			</article>
		{{/each}}
	</div>